In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
#import file and read
school_data_to_load = '../Instructions/PyCitySchools/Resources/schools_complete.csv'
student_data_to_load = '../Instructions/PyCitySchools/Resources/students_complete.csv'


school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
df1= school_data
df2= student_data

In [3]:
#merge files on school name
df3=pd.merge(df2,df1, on="school_name", how='left')
df3.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
### District Summary

# Create a high-level snapshot, in a DataFrame, of the district's key metrics, including the following:

# * Total schools
# * Total students
# * Total budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)

In [5]:
#"Total Budget": (df3.budget.sum()/df3.student_name.count()).round(2),

dfdistrict_Summary=pd.DataFrame([{"Total schools":df3.school_name.nunique(), 
                   "Total Students":df3.student_name.count(),
                    "Total Budget": df1.budget.sum().round(2),
                    "Average Math Score": df3.math_score.mean(),
                   "Average Reading Score":df3.reading_score.mean(),
                   "% Passing Math":len(df3[df3['math_score']>=70])/df3.student_name.count()*100,
                   "% Passing Reading":len(df3[df3['reading_score']>=70])/df3.student_name.count()*100,
                   "% Overall Passing":len(df3[(df3['math_score']>=70) & (df3['reading_score']>=70)])
                                  /(df3.student_name.count())*100,
                                 }])

dfdistrict_Summary

,Total schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [6]:
### School Summary

# Create a DataFrame that summarizes key metrics about each school, including the following:

# * School name
# * School type
# * Total students
# * Total school budget
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)

In [8]:
# groupeddf=df3.groupby("school_name")


total_student = df3.groupby("school_name").agg({"Student ID":['count']})
total_school_budget=df3.groupby("school_name").agg({"budget":[sum]})
per_student_budget=total_school_budget/total_student
avg_math=df3.groupby("school_name").agg({"math_score":[sum]})/total_student
avg_read=df3.groupby("school_name").agg({"reading_score":[sum]})/total_student

In [18]:
pass_reading=df3[df3["reading_score"]>=70].count()["student_name"]

In [ ]:
# save the total number of stuent to (total_student_count)

In [19]:
pass_reading/float(total_student_count)

TypeError: float() argument must be a string or a number, not 'DataFrame'

In [7]:
pass_math=(df3.math_score>=70).size().groupby(["school_name"])
perc_passed_math=(pass_math/total_student*100).round(2)
perc_passed_read=(df3.loc[df3.reading_score>=70].groupby(['school_name'])
                  .size()/total_student*100).round(2)
perc_passed_both=(df3.loc[(df3.reading_score >= 70) & (df3.math_score >= 70)]
                  .groupby(["school_name"]).size()/total_student*100).round(2)

perc_passed_read

TypeError: 'int' object is not callable

In [ ]:
dfSchool_Summary=pd.DataFrame()
dfSchool_Summary["Total Students"] = total_student
dfSchool_Summary["Total School Budget"] = total_school_budget
dfSchool_Summary["Per Student Budget"] = per_student_budget
dfSchool_Summary["Average Math Score"] = avg_math
dfSchool_Summary["Average Reading score"] = avg_read
dfSchool_Summary["% passing math"] = perc_passed_math
dfSchool_Summary["% passing reading"] = perc_passed_read
dfSchool_Summary["% overall passing"] = perc_passed_both
dfSchool_Summary

In [ ]:
#dfSchool_Summary version 2  


df4=df3.groupby(["school_name", "type"]).mean().round(2)
df4["Total School Budget"]=df3.groupby(["school_name", "type"])["budget"].sum()/total_student
df4["Average Per Student Budget"]=df3.groupby(["school_name", "type"])["budget"].sum()/total_student/total_student
df4["perc_passed_math"]=(df3.loc[df3.math_score>=70].groupby(["school_name", "type"])
                  .size()/total_student*100).round(2)
df4["perc_passed_read"]=(df3.loc[df3.reading_score>=70].groupby(["school_name", "type"])
                  .size()/total_student*100).round(2)
df4["perc_passed_both"]=(df3.loc[(df3.reading_score >= 70) & (df3.math_score >= 70)]
                  .groupby(["school_name", "type"]).size()/total_student*100).round(2)

cols=['size', 'Total School Budget','Average Per Student Budget', 'reading_score',
       'math_score', 'perc_passed_math', 'perc_passed_read',
       'perc_passed_both']
dfSchool_Summary_v2=df4.loc[:,cols]
dfSchool_Summary_v2.rename(columns = {'size':'Total Student', 'Total School Budget':'Total School Budget','Average Per Student Budget': 'Average Per Student Budget', 'reading_score': 'Average Reading Score',
       'math_score': 'Average Math Score', 'perc_passed_math':'% Passed Math', 'perc_passed_read':'% Passed Math',
       'perc_passed_both': '% Passed Both'}, inplace = True)

dfSchool_Summary_v2

In [ ]:
### Highest-Performing Schools (by % Overall Passing)

# Create a DataFrame that highlights the top 5 performing schools based on % Overall Passing. Include the following metrics:

# * School name
# * School type
# * Total students
# * Total school budget
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)

In [ ]:
df_top5=dfSchool_Summary_v2.sort_values(by="% Passed Both", ascending=False).head(5)
df_top5

In [ ]:
# Lowest-Performing Schools (by % Overall Passing)

# Create a DataFrame that highlights the bottom 5 performing schools based on % Overall Passing. Include the following metrics:

# * School name
# * School type
# * Total students
# * Total school budget
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)

In [ ]:
df_low5=dfSchool_Summary_v2.sort_values(by="% Passed Both", ascending=True).head(5)
df_low5

In [ ]:
cols=['school_name','grade','reading_score', 'math_score']
df_grade=(df3.loc[:,cols]).groupby(['school_name','grade']).mean()
df_grade.head()

In [ ]:
df_grade.reset_index(inplace=True)
#df_grade.drop('level_0', axis=1, inplace=True)
df_grade=df_grade.reset_index(drop=True)
df_grade.head()

In [ ]:

rslt_df = df_grade[df_grade['grade'] == '9th'] 
cols=['school_name', 'reading_score', 'math_score']
grade9=rslt_df.loc[:, cols]
grade9.rename(columns = {'school_name':'school_name','reading_score': '9th Reading Score','math_score': '9th Math Score'}, inplace = True)
  
grade9

In [ ]:
rslt_df2 = df_grade[df_grade['grade'] == '10th'] 
cols=['school_name', 'reading_score', 'math_score']
grade10=rslt_df2.loc[:, cols]
grade10.rename(columns = {'school_name':'school_name','reading_score': '10th Reading Score','math_score': '10th Math Score'}, inplace = True)
  
grade10

In [ ]:
rslt_df3 = df_grade[df_grade['grade'] == '11th'] 
cols=['school_name', 'reading_score', 'math_score']
grade11=rslt_df3.loc[:, cols]
grade11.rename(columns = {'school_name':'school_name','reading_score': '11th Reading Score','math_score': '11th Math Score'}, inplace = True)
  
grade11

In [ ]:
rslt_df4 = df_grade[df_grade['grade'] == '12th'] 
cols=['school_name', 'reading_score', 'math_score']
grade12=rslt_df4.loc[:, cols]
grade12.rename(columns = {'school_name':'school_name','reading_score': '12th Reading Score','math_score': '12th Math Score'}, inplace = True)
  
grade12

In [ ]:
df_grade_m=pd.merge(grade9, grade10, on="school_name", how='outer')

df_grade_m2=pd.merge(grade11, grade12, on="school_name", how='outer')
df_grade_m3=pd.merge(df_grade_m, df_grade_m2, on="school_name", how='outer')
df_grade_m3

In [ ]:
cols=['school_name','9th Reading Score', '10th Reading Score', '11th Reading Score', '12th Reading Score']
grade_read=df_grade_m3.loc[:, cols]
grade_read.rename(columns = {'school_name':'school_name','9th Reading Score': '9th','10th Reading Score': '10th','11th Reading Score': '11th','12th Reading Score': '12th'}, inplace = True)
grade_read

In [ ]:
cols=['school_name','9th Math Score', '10th Math Score', '11th Math Score', '12th Math Score']
grade_math=df_grade_m3.loc[:, cols]
grade_math.rename(columns = {'school_name':'school_name','9th Math Score': '9th','10th Math Score': '10th','11th Math Score': '11th','12th Math Score': '12th'}, inplace = True)
grade_math

In [ ]:
Scores by School Spending
Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
Average Math Score
Average Reading Score
% Passing Math
% Passing Reading
Overall Passing Rate (Average of the above two)

In [ ]:
spend_df=pd.merge(df1,df2, on="school_name", how='outer')
spend_df.head()

In [ ]:
spend_df=pd.merge(df1,df2, on="school_name", how='outer')
spend_df.rename(columns = {'size':'student_count'}, inplace = True)

spend_df["ave_student_budget"] = spend_df.budget/spend_df.student_count
spend_df["ave_student_budget"]

spend_df["pass_math"]=(spend_df.math_score>=70)
spend_df["pass_read"]=(spend_df.reading_score>=70)
spend_df["pass_both"]=((spend_df.math_score>=70) & (spend_df.reading_score>=70))


bins = [0, 585, 630, 645, 680]

# Create the names for the two bins
group_names = ["<$585", "$585-630", "$630-645","$645-680"]

spend_df["Spending Ranges Per Student"] = pd.cut(spend_df["ave_student_budget"], bins, labels=group_names, include_lowest=True)
spend_df.head(100)


spend_df2=spend_df.groupby("Spending Ranges Per Student").agg({"student_name":"count","student_count": "mean", "math_score": "mean", "reading_score": "mean", 
                                                               "pass_math": "sum", "pass_read":"sum", 
                                                               "pass_both": "sum"}).round(2)
# spend_df2.head(100)
spend_df2["perc_math"] = (spend_df2.pass_math/spend_df2.student_name*100).round(2)
spend_df2["perc_read"] = (spend_df2.pass_read/spend_df2.student_name*100).round(2)
spend_df2["perc_both"] = (spend_df2.pass_both/spend_df2.student_name*100).round(2)
spend_df2.head()

cols=['math_score', 'reading_score','perc_math', 'perc_read','perc_both']
df_group_type=spend_df2.loc[:,cols]
df_group_type.rename(columns = {'math_score': 'Average Math Score', 'reading_score': 'Average Reading Score',
                                'perc_math':'% Passing Math', 'perc_read':'% Passing Math',
                                'perc_both': '% Passing Both'}, inplace = True)
df_group_type

In [ ]:
spend_df4=pd.merge(df1,df2, on="school_name", how='outer')
spend_df4.rename(columns = {'size':'student_count'}, inplace = True)


spend_df4["pass_math"]=(spend_df4.math_score>=70)
spend_df4["pass_read"]=(spend_df4.reading_score>=70)
spend_df4["pass_both"]=((spend_df4.math_score>=70) & (spend_df.reading_score>=70))
spend_df4.tail(20)

bins2 = [0, 1000, 2000, 5000]

group2_names = ["Small(,1000)", "Medium(1000-2000)", "Large(2000-5000)"]

spend_df4["School Size"] = pd.cut(spend_df4["student_count"], bins2, labels=group2_names, include_lowest=True)
spend_df4.head(100)


spend_df5=spend_df4.groupby("School Size").agg({"student_name":"count","student_count": "mean", "math_score": "mean", "reading_score": "mean", 
                                                               "pass_math": "sum", "pass_read":"sum", 
                                                               "pass_both": "sum"})

spend_df5["perc_math"] = (spend_df5.pass_math/spend_df5.student_name)*100
spend_df5["perc_read"] = (spend_df5.pass_read/spend_df5.student_name)*100
spend_df5["perc_both"] = (spend_df5.pass_both/spend_df5.student_name)*100
spend_df5.head()

cols=['math_score', 'reading_score','perc_math', 'perc_read','perc_both']
df_group_type2=spend_df5.loc[:,cols]
df_group_type2.rename(columns = {'math_score': 'Average Math Score', 'reading_score': 'Average Reading Score',
                                'perc_math':'% Passing Math', 'perc_read':'% Passing Math',
                                'perc_both': '% Passing Both'}, inplace = True)
df_group_type2

In [ ]:
df3["pass_math"]=(df3.math_score>=70)
df3["pass_read"]=(df3.reading_score>=70)
df3["pass_both"]=((df3.math_score>=70) & (df3.reading_score>=70))
df3.head()

df_group_type = df3.groupby("type").agg({"student_name": "count","math_score": "mean", "reading_score": "mean", "pass_math": "sum", "pass_read":"sum", "pass_both": "sum"})
df_group_type["perc_math"]=(df_group_type.pass_math/df_group_type.student_name)
df_group_type["perc_read"] = df_group_type.pass_read/df_group_type.student_name
df_group_type["perc_both"] = df_group_type.pass_both/df_group_type.student_name
cols=['reading_score','math_score', 'perc_read','perc_math', 'perc_both']
df_group_type=df_group_type.loc[:,cols]
df_group_type.rename(columns = {'reading_score': 'Average Reading Score','math_score': 'Average Math Score',
                                 'perc_read':'% Passing Reading', 'perc_math':'% Passing Math',
                                'perc_both': '% Passing Both'}, inplace = True)
  

df_group_type