# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
g_key

'AIzaSyCH3NSectrm9Cko1IJRCRkY43QHtPzUjeA'

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
df=pd.read_csv("city_weather.csv")
df.head()

,City,Latitude,Longitude,Temperature,Humidity,Windspeed,Cloudiness
0,barrow,71.290556,-156.788611,24.82,80,23.02,100
1,tezu,27.925420,96.164714,71.94,47,0.92,0
2,katherine,-14.464616,132.263599,93.51,38,8.05,29
3,nanortalik,60.140025,-45.242852,27.86,87,3.20,100
4,tuatapere,-46.132310,167.690763,65.89,51,5.44,83

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [5]:
#get data
data= df.loc[:, ["Latitude", "Longitude"]]

In [6]:
# Customize the size of the figure
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout, map_type='HYBRID')

In [7]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(data)
# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [17]:
mask = (df.Windspeed < 10) & (df.Temperature < 80) & (df.Temperature>70) & (df.Cloudiness == 0)
hotel_df = df.loc[mask].reset_index(drop=True)
hotel_df

,City,Latitude,Longitude,Temperature,Humidity,Windspeed,Cloudiness
0,tezu,27.925420,96.164714,71.94,47,0.92,0
1,tsihombe,-25.318547,45.484057,71.55,89,2.37,0
2,san patricio,27.969532,-97.773172,76.62,85,8.97,0
3,samdrup jongkhar,26.797990,91.504226,71.67,62,2.53,0
4,nacogdoches,31.603513,-94.655487,73.53,89,4.61,0
5,san ignacio,17.152759,-89.076172,75.18,88,0.00,0
6,salalah,17.017495,54.101092,74.10,72,2.24,0
7,lakes entrance,-37.879458,147.994383,70.86,53,7.54,0
8,dakar,14.693425,-17.447938,78.93,83,2.30,0
9,praya,14.916281,-23.509510,77.58,61,6.91,0
10,kadhan,24.481696,68.986238,73.13,48,7.00,0
11,cayenne,4.937114,-52.325831,75.22,94,0.00,0
12,amalapuram,16.577718,82.003262,74.10,79,4.27,0
13,griffith,-34.287077,146.055102,76.53,43,6.89,0
14,nortelandia,-14.451897,-56.804375,72.64,41,1.70,0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [24]:
lat = hotel_df.Latitude[0]
lon = hotel_df.Longitude[0]
# geocoordinates
target_coordinates = f"{lat}, {lon}"
target_search = "hotel"
target_radius = 5000
target_type = "lodging"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)
print(response.status_code)

data = response.json()
print()
data
print(data["results"][0]["name"])
print(data["results"][0]["vicinity"])
print(data["results"][0]["rating"])
print(data["results"][0]["user_ratings_total"])

200

Oshin Hotel
W5H3+375, Main Bazaar Road, Oshin Market, Lohit District, Tezu
3.5
253

In [25]:
df2 = pd.DataFrame(hotels)
df2.head()

,hotel,address,rating,user_ratings_total
0,Hotel Taboka,Tezu,3.7,261.0
1,Littoral Hôtel,Tsihombe Tsihombe Androy,5.0,1.0
2,"Knolle Farm & Ranch Bed, Barn & Breakfast","13016 FM 70, Sandia",4.3,22.0
3,Menjong Hotel,"QGW3+2M6, Samdrup Jongkhar",4.0,46.0
4,Hampton Inn & Suites Nacogdoches,"3625 South St, Nacogdoches",4.3,402.0

In [26]:
hotel_full = pd.merge(hotel_df, df2, left_index=True, right_index=True)
hotel_full

,City,Latitude,Longitude,Temperature,Humidity,Windspeed,Cloudiness,hotel,address,rating,user_ratings_total
0,tezu,27.925420,96.164714,71.94,47,0.92,0,Hotel Taboka,Tezu,3.7,261.0
1,tsihombe,-25.318547,45.484057,71.55,89,2.37,0,Littoral Hôtel,Tsihombe Tsihombe Androy,5.0,1.0
2,san patricio,27.969532,-97.773172,76.62,85,8.97,0,"Knolle Farm & Ranch Bed, Barn & Breakfast","13016 FM 70, Sandia",4.3,22.0
3,samdrup jongkhar,26.797990,91.504226,71.67,62,2.53,0,Menjong Hotel,"QGW3+2M6, Samdrup Jongkhar",4.0,46.0
4,nacogdoches,31.603513,-94.655487,73.53,89,4.61,0,Hampton Inn & Suites Nacogdoches,"3625 South St, Nacogdoches",4.3,402.0
5,san ignacio,17.152759,-89.076172,75.18,88,0.00,0,Ka'ana Resort,"69 Western Hwy, San Ignacio",4.7,235.0
6,salalah,17.017495,54.101092,74.10,72,2.24,0,Salalah Gardens Hotel,Al Rabat Street salalah,4.8,4885.0
7,lakes entrance,-37.879458,147.994383,70.86,53,7.54,0,Central Hotel,"321 Esplanade, Lakes Entrance",4.0,618.0
8,dakar,14.693425,-17.447938,78.93,83,2.30,0,Hotel Sokhamon,"MH75+F3F, Av. Nelson Mandela, Dakar",3.9,707.0
9,praya,14.916281,-23.509510,77.58,61,6.91,0,Hotel Vista,"WF4J+VJ6, Praia",3.9,87.0
10,kadhan,24.481696,68.986238,73.13,48,7.00,0,None,None,NaN,NaN
11,cayenne,4.937114,-52.325831,75.22,94,0.00,0,Grand Hotel Montabo,Chemin St Hilaire - rue de Montabo,3.6,321.0
12,amalapuram,16.577718,82.003262,74.10,79,4.27,0,Hotel Grand Park,"Bank Street, Opp. SBI, Amalapuram",4.2,694.0
13,griffith,-34.287077,146.055102,76.53,43,6.89,0,Quest Griffith,"53 Railway St, Griffith",4.4,162.0
14,nortelandia,-14.451897,-56.804375,72.64,41,1.70,0,Hotel Karysmã,"78430-000, Av. Getúlio Lino de Souza, 1577-166...",4.1,155.0

In [31]:
infos = []

for indx, row in hotel_full.iterrows():
    info_box_template = f"""<dl>
                        <dt>Hotel Name:</dt><dd>{row.hotel}</dd>
                        <dt>Rating:</dt><dd>{row.rating}</dd>
                        <dt>Address:</dt><dd>{row.address}</dd>
                        <dt>Location:</dt><dd>({row.Latitude}, {row.Longitude})</dd>
                        </dl>
                        """
    infos.append(info_box_template)
    
infos[0]

'<dl>\n                        <dt>Hotel Name:</dt><dd>Hotel Taboka</dd>\n                        <dt>Rating:</dt><dd>3.7</dd>\n                        <dt>Address:</dt><dd>Tezu</dd>\n                        <dt>Location:</dt><dd>(27.9254195, 96.1647135)</dd>\n                        </dl>\n                        '

In [32]:
 # get data
data = df.loc[:, ["Latitude", "Longitude"]]
hotel_data = hotel_full.loc[:, ["Latitude", "Longitude"]]

# Create BASE, init the graph
figure_layout = {
    'width': '800px',
    'height': '600px',
    'border': '0px',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout, map_type='SATELLITE')

# init the overlay layers
heat = gmaps.heatmap_layer(data, weights=df.Humidity)
fig.add_layer(heat)

markers = gmaps.marker_layer(hotel_data, info_box_content=infos)
fig.add_layer(markers)

# show the plot
fig

Figure(layout=FigureLayout(border='0px', height='600px', margin='0 auto 0 auto', padding='1px', width='800px')…